@page
@model IndexModel
@{
    ViewData["Title"] = "AgenTurismo";
}

<h1>AgênTurismo</h1>
<a href="/DelegatesTest" class="btn btn-primary">Testes de Delegates</a>
<a href="/CidadesDestino/CreateCidadeDestino" class="btn btn-primary">Criar Cidade Destino</a>
<a href="/Pacotes/CreatePacoteTuristico" class="btn btn-primary">Criar Pacote Turistico</a>
<a href="/Pacotes" class="btn btn-primary">Ver Pacotes Turisticos</a>